{% extends "account/base_entrance.html" %}

{% load i18n static allauth account %}
 
{% block title %} {% trans "Password Reset" %} {% endblock title %}

{% block content %}
  <p class="login-box-msg">
    {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
  </p>
  <p class="my-2 text-center">
    <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
    &bull;
    <a href="{% url 'account_signup' %}" class="text-center">{% trans "Sign Up" %}</a>
  </p>
{% endblock %}
