{% extends "account/base_manage_password.html" %}
{% load crispy_forms_tags allauth i18n %}

{% block title %}
{% trans "Set Password" %}
{% endblock %}

{% block page_title %}
{% trans "Set Password" %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ form.media.css }}
{% endblock extrahead %}

{% block content %}
    <form method="post"
          id="change-form"
          novalidate>

      {% block form_content %}
        
        <div class="card shadow-none">
          <div class="card-body pt-0">
            <div class="d-flex flex-column flex-fill">
              {% csrf_token %}
              {{ redirect_field }}
              {% for fields in form %}
                {{fields|as_crispy_field}}
              {% endfor %}
            </div>
          </div>
          <div class="card-foot pb-3 px-3">
            <a class="btn btn-outline-primary ms-2"
              href="{{ view.get_success_url }}">Cancelar</a>
            <button type="submit" class="btn btn-primary ms-2">{% trans "Set Password" %}</button>
          </div>
        </div>

      {% endblock form_content %}
      
    </form>
  
{% endblock content %}
{% block extra_scripts %}
  {{ block.super }}
  {{ form.media.js }}
{% endblock extra_scripts %}

{% block preloader %}
{% endblock preloader %}
