Django>=5.2.8,<5.3
python-dotenv
django-allauth
django-crispy-forms
crispy-bootstrap5
django-extensions
django-filter
django-tables2
django-simple-menu
django-htmx
django-select2
django-betterforms
django-jquery-js
django-formset-js
django-summernote
rules
djangorestframework
django-imagekit
shortuuid
django-multiselectfield
django-extra-views
persisting-theory
django-render-block
pydantic
requests