{% load static %}
<footer id="footer">
</div>
    <div class="container">
    <div class="copyright">
      &copy; Instituto Federal do Rio Grande do Norte -<strong>
        <span>IFRN</span></strong>. 
    </div>
    <div class="credits">
      Localização: <a href="https://www.google.com.br/maps/place/IFRN+-+Campus+S%C3%A3o+Paulo+do+Potengi/@-5.8952253,-35.7548359,17z/data=!3m1!4b1!4m6!3m5!1s0x7b22feeeca6345f:0xc5f89e3bf5bffeba!8m2!3d-5.8952253!4d-35.7548359!16s%2Fg%2F11b6vdvps8?entry=ttu">IFRN</a><div class="footer-logo">
      <img src="{% static 'img/logo_ifrn-removebg-preview.png' %}" alt="IFRN Logo" style="max-width: 30px; height: auto;">
    </div>
    </div>
  </div>
</footer>