{% load static %}
<footer id="footer">
</div>
    <div class="container">
    <div class="copyright">
      &copy; Instituto Federal do Rio Grande do Norte -<strong>
        <span>IFRN</span></strong>. 
    </div>
    <div class="credits">
      Localização: <a href="https://www.google.com/maps/search/?api=1&query=IFRN+Campus+Currais+Novos">IFRN</a><div class="footer-logo">
      <img src="{% static 'img/logo_ifrn-removebg-preview.png' %}" alt="IFRN Logo" style="max-width: 30px; height: auto;">
    </div>
    </div>
  </div>
</footer>