{% extends "base.html" %}
{% load static i18n %}
{% block title %}Portal{% endblock title %}

{% block extrastyle %}
    {{ super.block }}
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
{% endblock extrastyle %}

{% block layout %}
<div data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-custom  navbar-expand-md fixed-top">
        <div class="container">
            <!-- logo -->
            <div class="navbar-brand">
                <a class="portal-logo" href="{%url 'portal:index'%}">
                    {%if request.evento.logo %}
                    <img src="{{request.evento.logo.url}}" alt="Logo" class="py-3">
                    {% else %}
                    <img src="{% static 'img/logos/logo-branca.png' %}" alt="Logo">
                    {% endif %}
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-items" aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars text-light fs-1"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-items">
              {% include 'public/menu-list.html'  %}

            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="site-info text-muted">
                        {{ evento.edicao }} {{ evento.titulo }}
                        {% if evento.subtitulo %}
                            <br><small>{{ evento.subtitulo }}</small>
                        {% endif %}
                    </p>
                    <ul class="social-block">
                        {%if evento.instagram %}
                        <li><a href="{{evento.instagram}}" target="_blank"><i class="ion-social-instagram"></i></a></li>
                        {% endif %}
                        {%if evento.youtube %}
                        <li><a href="{{evento.youtube}}" target="_blank"><i class="ion-social-youtube"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
  </div>

  {% endblock layout %}

{% block extra_scripts %}
{{ super.block }}

<script src="{%static 'vendor/smoothscroll/smooth-scroll.min.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>
{% endblock extra_scripts %}
